<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Algorithms web</a>

    <div id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <i class="fa fa-angle-double-left"></i>
                <a class="nav-link" href="/">Backtracking <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <i class="fa fa-paper-plane"></i>
                <a class="nav-link" href="/dijkstra">Dijkstra</a>
            </li>
        </ul>
    </div>
</nav>